/* Custom color theme properties */
:root {
  --f7-theme-color: #EE1671;
  --f7-theme-color-rgb: 238, 22, 113;
  --f7-theme-color-shade: #cc000f;
  --f7-theme-color-tint: #f1003c;
}

/* Your app custom styles here */